@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<MyPhotoGallery.Models.Photos>

@{
    ViewData["Title"] = "List";
}

<h1>Photo Gallery</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>


    <tbody>

        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>

                        <img src="@("~/uploads/" + item.PhotoName )" asp-append-version="true" width="60" height="60" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td class="btn btn-secondary text-warning">
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" class="btn btn-warning" asp-route-id="@item.Id">Delete</a> |
                        <a asp-action="Share" class="btn btn-warning" asp-route-id="@item.Id">Share</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
<a href="Photos/GenerateAndDownloadZip" target="_blank" class="btn btn-primary">Download Images zip</a>